
<!DOCTYPE html>
<html lang="tr">

@Html.Action("_HeadPartial", "AboutPage")

<body>

    @Html.Action("_SpinnerPartial", "AboutPage")

    @Html.Action("_NavbarPartial", "AboutPage")

    @Html.Action("_HeaderPartial", "AboutPage")



    @Html.Action("_FooterPartial", "AboutPage")

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    @Html.Action("_ScriptPartial", "AboutPage")

</body>

</html>